*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
# Les seuls documents pdf autorisés sont dans le dossier documents_externes/
*.pdf
!documents_externes/*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tex~
*.toc
*.vrb
*.xdy
*.tdo
